################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HanselAcceloka.Entities/Migrations/1.Initial.sql
